
@{
    ViewBag.Title = "StudentLessons";
    Layout = "~/Views/Shared/_StudentDashboardLayout.cshtml";
}

<script>
    $(document).ready(function () {
        var LessonId = $("#LessonID").val();
        var sub = $("#SubjectId").val();

        $.ajax({
            type: "POST",
            url: "/StudentCourses/GetLessonVideo",
            data: { "LessonID": LessonId },
            success: function (data) {

                console.log(data);

                $("iframe").attr('src', data.LessonVideo);
                $("#LessonName").text(data.LessonName);
                $("#LessonDescription").text("");
                $("#LessonDescription").text(data.LessonDescription);
            }
        });

        var Count = 0;
        var heading = "headingOne";
        var collapse = "collapseOne";
        var index = 0;

        $.ajax({
            type: "POST",
            url: "/StudentCourses/GetSubjectTopicsAndLessons",
            data: { "SubjectId": sub },
            success: function (data) {
                console.log(data);
                //console.log("Working");
                $.each(data, function (key, value1) {
                    Count = Count + 1
                    var lessonlist = value1.LessonList;
                    var heading = "headingOne";
                    index = index + 1;
                    var headingIndex = heading + index;
                    var collapseindex = collapse + index;

                    var Topic;
                    var Lesson = "";

                    Topic = '<div class="card"><div class="card-header" role="tab" id="' + headingIndex + '"><a data-toggle="collapse" data-parent="#accordionEx" href="#' + collapseindex + '" aria-expanded="true" aria-controls="' + collapseindex + '" class=""><h5 class="mb-0">' + value1.TopicName + '</br><span class="completedAndTime">  (' + value1.TotalLessons1 + '-' + value1.TopicDuration + ' min) </span><i class="fas fa-angle-down rotate-icon"></i></h5></a></div><div id="' + collapseindex + '" class="collapse show" role="tabpanel" aria-labelledby="' + headingIndex + '" data-parent="#accordionEx" style=""><div class="card-body"><div class="row">';

                    $.each(lessonlist, function (key, lesson) {
                        debugger

                        if (lesson.LessonExistInTrackingTable == "Yes") {
                            Lesson = Lesson + '<div class="col-md-12"><div class="form-check  my-2"><a name = "' + lesson.LessonId + '"   href = "/StudentCourses/StudentLessons/' + lesson.EncryptedID + '"> <label class="form-check-label"><input class="form-check-input" type="checkbox" checked="" disabled><span class="form-check-sign"><span class="check"></span></span>' + lesson.LessonName + '<div class="lengthCheckbox">' + lesson.LessonDuration + 'min</div></label></a></div></div>';
                        }
                        else {
                            Lesson = Lesson + '<div class="col-md-12"><div class="form-check  my-2"><a name = "' + lesson.LessonId + '"   href = "/StudentCourses/StudentLessons/' + lesson.EncryptedID + '"> <label class="form-check-label"><input class="form-check-input" type="checkbox" disabled><span class="form-check-sign"><span class="check"></span></span>' + lesson.LessonName + '<div class="lengthCheckbox">' + lesson.LessonDuration + 'min</div></label></a></div></div>';
                        }
                    })
                    $("#accordionEx").append(Topic + Lesson + '</div></div></div></div>');
                    $("#TotalTopics").html(Count);

                    $('i').click(function () {
                        var className = $(this).attr("class");
                        if (~className.indexOf("fa-angle-down")) {
                            $(this).removeClass("fa-angle-down");
                            $(this).addClass("fa-angle-up");
                            //console.log("up");
                        } else {
                            $(this).removeClass("fa-angle-up");
                            $(this).addClass("fa-angle-down");
                            //console.log("down");
                        }
                    });

                })
            }
        })
    });
</script>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col-lg-8 col-md-12 pr-5">
                        <div class="row column-heading accordion-heading mt-0 mb-2">
                            <div class="col-md" id="LessonName"></div>
                            <input type="hidden" id="LessonID" name="name" value="@ViewBag.LessonID" />
                            <input type="hidden" id="SubjectId" name="name" value="@ViewBag.SubjectId" />
                        </div>

                        <div style="/*! height: 120px; */" class="upload-photo videoBox border rounded d-flex align-items-center justify-content-center flex-column mb-4">
                            <iframe src="" frameborder="0" border="0" scrolling="auto" allowtransparency="true" allowfullscreen="1" style="border: none; background-color: transparent; width: 100%; height: 100%;"></iframe>
                        </div>

                        <div class="tabsCon">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" id="myTabAttr" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="overview-tab-attr" data-toggle="tab" href="#overview-attr" role="tab" aria-controls="overview-attr"
                                       aria-selected="true">Overview</a>
                                </li>
                                <li class="nav-item hidden">
                                    <a class="nav-link" id="activity-tab-attr" data-toggle="tab" href="#activity-attr" role="tab" aria-controls="activity-attr"
                                       aria-selected="false">Activity</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="qa-tab-attr" data-toggle="tab" href="#qa-attr" role="tab" aria-controls="qa-attr"
                                       aria-selected="false">Q/A</a>
                                </li>
                                <!--<li class="nav-item">
                                    <a class="nav-link" id="settings-tab-attr" data-toggle="tab" href="#settings-attr" role="tab" aria-controls="settings-attr"
                                       aria-selected="false">Settings</a>
                                </li>-->
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active show" id="overview-attr" role="tabpanel" aria-labelledby="overview-tab-attr">

                                    <h3 class="tabMainHeading">About this course</h3>
                                    <hr>

                                    <div class="row">
                                        <div class="col-md-4" id="LessonDescription"></div>
                                    </div>

                                </div>

                                <div class="tab-pane" id="activity-attr" role="tabpanel" aria-labelledby="activity-tab-attr">


                                    <!--Activity Tab Content-->
                                    <h3 class="tabMainHeading mb-3">M.C.Q.S Section</h3>

                                    <div class="questionCon">
                                        <h4 class="tabHeading">Question 1: What we used computers?</h4>

                                        <div class="row my-3">
                                            <div class="col-md-12 mb-2">

                                                <div class="custom-control custom-radio custom-control-inline mr-5">
                                                    <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample">
                                                    <label class="custom-control-label" for="defaultInline1">&nbsp;&nbsp;&nbsp;A. Option 1</label>
                                                </div>
                                                &nbsp;&nbsp;&nbsp;&nbsp;

                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample">
                                                    <label class="custom-control-label" for="defaultInline3">&nbsp;&nbsp;&nbsp;C. Option 3</label>
                                                </div>

                                            </div>

                                            <div class="col-md-12">

                                                <div class="custom-control custom-radio custom-control-inline mr-5">
                                                    <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample">
                                                    <label class="custom-control-label" for="defaultInline2">&nbsp;&nbsp;&nbsp;B. Option 2</label>
                                                </div>
                                                &nbsp;&nbsp;&nbsp;
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" class="custom-control-input" id="defaultInline4" name="inlineDefaultRadiosExample">
                                                    <label class="custom-control-label" for="defaultInline4">&nbsp;&nbsp;&nbsp;D. Option 4</label>
                                                </div>

                                            </div>
                                        </div>

                                        <p>Your answer is wrong. Correct answer is C. You need to revise OOP Subject Topic Lesson 1.</p>

                                    </div>
                                    <div class="questionCon">
                                        <h4 class="tabHeading">Question 2: What we used computers?</h4>

                                        <div class="row my-3">
                                            <div class="col-md-12 mb-2">

                                                <div class="custom-control custom-radio custom-control-inline mr-5">
                                                    <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample">
                                                    <label class="custom-control-label" for="defaultInline1">&nbsp;&nbsp;&nbsp;A. Option 1</label>
                                                </div>
                                                &nbsp;&nbsp;&nbsp;&nbsp;

                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample">
                                                    <label class="custom-control-label" for="defaultInline3">&nbsp;&nbsp;&nbsp;C. Option 3</label>
                                                </div>

                                            </div>

                                            <div class="col-md-12">

                                                <div class="custom-control custom-radio custom-control-inline mr-5">
                                                    <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample">
                                                    <label class="custom-control-label" for="defaultInline2">&nbsp;&nbsp;&nbsp;B. Option 2</label>
                                                </div>
                                                &nbsp;&nbsp;&nbsp;
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" class="custom-control-input" id="defaultInline4" name="inlineDefaultRadiosExample">
                                                    <label class="custom-control-label" for="defaultInline4">&nbsp;&nbsp;&nbsp;D. Option 4</label>
                                                </div>

                                            </div>
                                        </div>

                                        <p>Your answer is wrong. Correct answer is C. You need to revise OOP Subject Topic Lesson 1.</p>

                                    </div>
                                    <div class="questionCon">
                                        <h4 class="tabHeading">Question 3: What we used computers?</h4>

                                        <div class="row my-3">
                                            <div class="col-md-12 mb-2">

                                                <div class="custom-control custom-radio custom-control-inline mr-5">
                                                    <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample">
                                                    <label class="custom-control-label" for="defaultInline1">&nbsp;&nbsp;&nbsp;A. Option 1</label>
                                                </div>
                                                &nbsp;&nbsp;&nbsp;&nbsp;

                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample">
                                                    <label class="custom-control-label" for="defaultInline3">&nbsp;&nbsp;&nbsp;C. Option 3</label>
                                                </div>

                                            </div>

                                            <div class="col-md-12">

                                                <div class="custom-control custom-radio custom-control-inline mr-5">
                                                    <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample">
                                                    <label class="custom-control-label" for="defaultInline2">&nbsp;&nbsp;&nbsp;B. Option 2</label>
                                                </div>
                                                &nbsp;&nbsp;&nbsp;
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" class="custom-control-input" id="defaultInline4" name="inlineDefaultRadiosExample">
                                                    <label class="custom-control-label" for="defaultInline4">&nbsp;&nbsp;&nbsp;D. Option 4</label>
                                                </div>

                                            </div>
                                        </div>

                                        <p>Your answer is wrong. Correct answer is C. You need to revise OOP Subject Topic Lesson 1.</p>

                                    </div>

                                    <!--Activity Tab Content-->










                                </div>



                                <div class="tab-pane" id="qa-attr" role="tabpanel" aria-labelledby="qa-tab-attr">


                                    <!--QA CONTENT-->
                                    <h3 class="tabMainHeading">
                                        59 questions in this course
                                        <span class="askQues">
                                            <a href="#" class="btn btn-link btn-sm">
                                                Ask a question
                                                <div class="ripple-container"></div><div class="ripple-container"></div>
                                            </a>
                                        </span>
                                    </h3>
                                    <hr class="mt-2">

                                    <div class="d-flex py-3">
                                        <div class="mr-3 tabHeading">
                                            <span class="initialCircle">MS</span>
                                        </div>
                                        <div class="">
                                            <h3 class="tabMainHeading mt-0 mb-2">What is C++?</h3>
                                            <p>Lorem ipsum dolor sit amet, purto quando legendos mel ut, vix ea noster molestie scribentur, pro ad dicam nostro audiam. Has habeo partiendo cotidieque at, gubergren persecuti te mei.</p>
                                            <div class="metaInfoQues">Mohammad Sufyan - Lesson 1 <strong class="ml-2">6 hours ago</strong></div>

                                        </div>

                                    </div>
                                    <hr>
                                    <div class="d-flex py-3">
                                        <div class="mr-3 tabHeading">
                                            <span class="initialCircle initialOrange">MS</span>
                                        </div>
                                        <div class="">
                                            <h3 class="tabMainHeading mt-0 mb-2">What is C++?</h3>
                                            <p>Lorem ipsum dolor sit amet, purto quando legendos mel ut, vix ea noster molestie scribentur, pro ad dicam nostro audiam. Has habeo partiendo cotidieque at, gubergren persecuti te mei.</p>
                                            <div class="metaInfoQues">Mohammad Sufyan - Lesson 1 <strong class="ml-2">6 hours ago</strong></div>

                                        </div>

                                    </div>
                                    <hr>
                                    <div class="d-flex py-3">
                                        <div class="mr-3 tabHeading">
                                            <span class="initialCircle initialPurple">MS</span>
                                        </div>
                                        <div class="">
                                            <h3 class="tabMainHeading mt-0 mb-2">What is C++?</h3>
                                            <p>Lorem ipsum dolor sit amet, purto quando legendos mel ut, vix ea noster molestie scribentur, pro ad dicam nostro audiam. Has habeo partiendo cotidieque at, gubergren persecuti te mei.</p>
                                            <div class="metaInfoQues">Mohammad Sufyan - Lesson 1 <strong class="ml-2">6 hours ago</strong></div>

                                        </div>

                                    </div>

                                    <hr>
                                    <div class="d-flex py-3">
                                        <div class="mr-3 tabHeading">
                                            <span class="initialCircle">MS</span>
                                        </div>
                                        <div class="w-100">

                                            <div class="w-100" name="summernote" id="summernote"></div>

                                            <button type="submit" class="btn btn-primary pull-right mt-3 addCommentBtn">Add<div class="ripple-container"></div><div class="ripple-container"></div></button>

                                        </div>

                                    </div>

                                    <!--QA CONTENT-->


                                </div>
                                <!--<div class="tab-pane" id="settings-attr" role="tabpanel" aria-labelledby="settings-tab-attr">...</div>-->















                            </div>




                        </div>


                    </div>



                    <div class="col-lg-4 col-md-12">
                        <div class="row column-heading accordion-heading mt-0 mb-2">
                            <div class="col-md">
                                Course Content
                            </div>
                            <div class="col-md text-right">
                                <span class="topicsCount">
                                    Topics &nbsp;
                                    <span id="TotalTopics"></span>
                                </span>
                            </div>
                        </div>

                        <div class="accordionIn">

                            <!--Accordion Wrapper-->
                            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                            </div>
                            <!--Accordion Wrapper-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
