
@{
    ViewBag.Title = "SubjectTopics";
    Layout = "~/Views/Shared/_StudentDashboardLayout.cshtml";
}

<style>
    .mb-0{
        color: #141437 ;
    }
</style>

<script>
    $(document).ready(function () {

        $("#PageHeader").html("Subject Topics");

        $("#BreadCrumbs").append(' <li> <a href="/Account/Dashboard"> Home </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li> <a href="/StudentCourses/Index"> Courses </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li class="active"><a id="BreadCrumps1" href="#">Lessons</a></li>');

        var sub = $("#SubjectId").val();
        $("#GenericDiv").show();
        //$("#global_filter").hide();

        // Ring Functionality JS
        var circle = document.querySelector('circle');
        var radius = circle.r.baseVal.value;
        var circumference = radius * 2 * Math.PI;

        circle.style.strokeDasharray = `${circumference} ${circumference}`;
        circle.style.strokeDashoffset = `${circumference}`;

        function setProgress(percent) {
            const offset = circumference - percent / 100 * circumference;
            circle.style.strokeDashoffset = offset;
        }

        const input = document.querySelector('input.progressVal');
        setProgress(input.value);

        input.addEventListener('change', function (e) {
            if (input.value < 101 && input.value > -1) {
                setProgress(input.value);
            }
        });
        // #End Ring Functionality JS

        var Count = 0;
        var heading = "headingOne";
        var collapse = "collapseOne";
        var index = 0;
        var trueCount = 0;
        var percent = 0;

        $.ajax({
            type: "POST",
            url: "/StudentCourses/GetSubjectTopicsAndLessons",
            data: { "SubjectId": sub },
            success: function (data) {
                console.log(data);
                //console.log("Working");
                $.each(data, function (key, value1) {
                    //Count = value1.TotalLessons;
                    Count = Count + 1;
                    var lessonlist = value1.LessonList;
                    var heading = "headingOne";
                    index = index + 1;
                    var headingIndex = heading + index;
                    var collapseindex = collapse + index;

                    var Topic;
                    var Lesson = "";

                    Topic = '<div class="card"><div class="card-header" role="tab" id="' + headingIndex + '"><a data-toggle="collapse" data-parent="#accordionEx" href="#' + collapseindex + '" aria-expanded="true" aria-controls="' + collapseindex + '" class=""><h5 class="mb-0">' + value1.TopicName + '<span class="completedAndTime">  (' + value1.TotalLessons1 + '-' + value1.TopicDuration + ' min) </span><i class="fas fa-angle-down rotate-icon pull-right"></i></h5></a></div><div id="' + collapseindex + '" class="collapse show" role="tabpanel" aria-labelledby="' + headingIndex + '" data-parent="#accordionEx" style=""><div class="card-body"><div class="row">';

                    $.each(lessonlist, function (key, lesson) {
                        if (lesson.LessonExistInTrackingTable == "Yes") {
                            trueCount = trueCount + 1;
                            Lesson = Lesson + '<div class="col-md-12"><div class="form-check  my-2"><a name = "' + lesson.LessonId + '"   href = "/StudentCourses/StudentLessons/' + lesson.EncryptedID + '"> <label class="form-check-label"><input class="form-check-input" type="checkbox" checked="" disabled><span class="form-check-sign"><span class="check"></span></span>' + lesson.LessonName + '<div class="lengthCheckbox">' + lesson.LessonDuration + 'min</div></label></a></div></div>';
                        }
                        else {
                            Lesson = Lesson + '<div class="col-md-12"><div class="form-check  my-2"><a name = "' + lesson.LessonId + '"   href = "/StudentCourses/StudentLessons/' + lesson.EncryptedID + '"> <label class="form-check-label"><input class="form-check-input" type="checkbox" disabled><span class="form-check-sign"><span class="check"></span></span>' + lesson.LessonName + '<div class="lengthCheckbox">' + lesson.LessonDuration + 'min</div></label></a></div></div>';
                        }
                    })

                    $("#accordionEx").append(Topic + Lesson + '</div></div></div></div>');
                    percent = (trueCount / value1.TotalLessons) * 100;
                    $("#topicCompleted").html(trueCount);
                    $("#Totaltopic").html(value1.TotalLessons);

                    setProgress(percent);

                    //$('i').click(function () {
                    //    var className = $(this).attr("class");
                    //    if (~className.indexOf("fa-angle-down")) {
                    //        $(this).removeClass("fa-angle-down");
                    //        $(this).addClass("fa-angle-up");
                    //        //console.log("up");
                    //    } else {
                    //        $(this).removeClass("fa-angle-up");
                    //        $(this).addClass("fa-angle-down");
                    //        //console.log("down");
                    //    }
                    //});

                })
            }
        })
    });
</script>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" id="SubjectId" name="name" value="@ViewBag.SubjectId" />
                        <div class="pageHeading">
                            <div class="row">
                              <div class="col-lg-10 col-md-12">
                                <div class="row column-heading accordion-heading mt-0 mb-2 hidden">
                                    <div class="col-md">
                                        Course Content
                                    </div>
                                    <div class="col-md text-right">
                                        <span class="topicsCount">
                                            Topics &nbsp;
                                            <span>5</span>
                                        </span>
                                    </div>
                                </div>

                                <div class="accordionIn">

                                    <!--Accordion Wrapper-->
                                    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">


                                    </div>
                                    <!--Accordion Wrapper-->
                                </div>


                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
