
<script>
    //$(document).ready(function () {

    //    $.ajax({
    //        type: "GET",
    //        url: "/BranchAdmin/getClasses",
    //        success: function (data) {
    //            $.each(data, function (i, v) {
    //                $("#ClassesFilter").append('<a class="dropdown-item" href="#">' + v + '</a>');
    //                console.log(v);
    //            })
    //        },
    //        error: function (error) {
    //            console.log('failed');
    //        }
    //    })
    //})
</script>



<div class="pageHeading">
    <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-9">
            <div class="d-flex">
                <div id="dayPart_div" class="mr-4 flex-3 sunSide1"><img id="dayPart_img" src="~/Content/assets/img/sun.png" /></div>
                <div>
                    <div class="afternoon mt-2">
                        <h1 class=""><small>Good <span>Afternoon</span></small> Admin!</h1>
                        <p>
                            There are <span id="upcomming_lesson">4</span> upcoming Lessons this week.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 align-items-center d-flex justify-content-end">
            <button type="button" class="btn btn-primary pull-right rounded rounded-lg createBtn coursesBtn" onclick="window.location.href=''">
                View All Lessons
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-4">

                <!--<div class="input-group">
                    <label class="checkbox-inline"><input class='filter' type="checkbox" value="Pakistan Affairs" checked>Pakistan Affairs</label>
                    <label class="checkbox-inline"><input class='filter' type="checkbox" value="Financial Accounting" checked>Financial Accounting</label>
                    <label class="checkbox-inline"><input class='filter' type="checkbox" value="Computer Science" checked>Computer Science</label>
                </div>-->

                <div class="row">
                    <div class="col-md-12 table-responsive-lg">

                        <!--Filters Class-->
                        <div style="/*! border-bottom: 1px solid lightblue; */" class="filterBtnCon ml-4 float-right">
                            <button href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="filterBtn fc-button fc-state-default">
                                <span>Filter</span>
                                <img src="~/Content/assets/img/filter.png">
                            </button>
                            <div id="ClassesFilter" aria-labelledby="navbarDropdownProfile" x-placement="bottom-end" style="position: absolute; top: 45px; left: 1607px; will-change: top, left;" class="dropdown-menu dropdown-menu-right">




                            </div>
                        </div>

                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

