@model IEnumerable<SEA_Application.Models.ruffdata>
@{
    ViewBag.Title = "Index";
}



<script>
    $(document).ready(function () {
        


        
        var table = $('#datatable').dataTable({
            buttons: [
                {
                    text: ''
                },
                {
                    text: '',
                    action: function (e, dt, button, config) {
                       // window.location.href = '/AspNetSession/Create';
                    }
                },
                {
                    text: ''
                }
            ],
            "language": {
                "lengthMenu": "<div class=\"d-flex showEntriesCon\">\n" +
                    "  <div class=\"p-2\">Show </div> <div class=\"showEntries\"> _MENU_\n" +
                    "  </div>\n" +
                    "  </div>",
                "info": "<div class='showingEntriesOfTotal'>Showing <span class=\"text-info\">_START_ to _END_</span> of _TOTAL_ entries</div>",
                "paginate": {
                    "first": "Firstt",
                    "last": "Lastt",
                    "next": ' <img src="~/Content/assets/assets/icons/Arrow2.png" alt=""> ',
                    "previous": ' <img src="~/Content/assets/assets/icons/Arrow1.png" alt=""> '
                }
            },
            "searching": true,
            // dom: '<"class">Blfrtip',
            dom: "<'row mb-3'<'col-sm-12 col-md-2 col-lg-2'l><'col-sm-12 col-md-10 col-lg-10 datatableButtonsCon text-right'Bf>>" +
                "<'row'<'col-sm-12 datatablesData'tr>>" +
                "<'row mt-4'<'col-sm-12 col-md-4 col-lg-6 infoCon'i><'col-sm-12 col-md-8 col-lg-6 pagCon'p>>",
        });


        $("#ClassID").prepend('<option value="0" >All</option>');

        $("#PageHeader").html("Student Passwords");

        $("#BreadCrumbs").append(' <li> <a href="/Account/Dashboard"> Home </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li class="active"><a id="BreadCrumps1" href="#">Students Data</a></li>');


        $('.table').on('click', 'tbody tr', function () {
            var td = $(this).children("td");
            var userName = $(td[0]).children("input").val();
            userName = userName.trim();

            window.location.href = "/AspNetSession/Details?id=" + userName;
        });

    });

    function DrawTable() {
        $('#example_filter').addClass("form-group");
        $('#example_filter').addClass("has-feedback");
        $('#example_length').addClass("col-lg-9 col-md-8 col-sm-12 col-xs-12");
        //$('#example_filter').addClass("col-lg-4 col-md-4 col-sm-12 col-xs-12");
        $('#example_wrapper').css("text-align", "left");
        $('#example_length').css("text-align", "left");
        $('#example_length label').addClass("col-md-3 col-sm-12 col-lg-2");
        $("#example_length label").css("text-align", "left");
        $('#example_length label').addClass("col-md-2 col-lg-2 col-sm-12");
        // // $('#example_length label select').addClass("col-md-3 col-sm-8 col-lg-3"); : auto;
        $('#example_filter input').css({ "border": "1px solid #ddd", "border-radius": "40px", "height": "30px", "margin-top": "-5px", "outline": "none", "padding-left": "10px", "color": "#000000 !important" });
        //$('#example_length').css({ "overflow": "auto" });
        $('#example_filter input').addClass("add");
        $('#example_filter').append('<span class="glyphicon glyphicon-search form-control-feedback" style="margin-top: -33px; color: #666;"></span>');
        var list = $("#ClassID").html();
        $('#example_length').append(

            '<div class="col-md-1" style="width:0%; padding-left:1px;">' +
             '<div class="d-bar"></div>' +
            '</div>'
              +

           '<div class="col-md-4 col-lg-4" style="padding-left=0px">' +
           '<div class="col-md-1 col-sm-3 col-xs-3" style="padding-left:0px"><a href=""><i class="glyphicon glyphicon-repeat" data-toggle="tooltip" title="Refresh" data-placement="bottom"></i></a></div>' +
           '<div class="col-md-1 col-sm-3 col-xs-3"><a href="/AspNetSession/Create"><i class="glyphicon glyphicon-edit" data-placement="bottom"></i></a></div>' +
           '<div class="col-md-1 col-sm-3 col-xs-3"><span class="default"><a href=""><span style="color:grey"><i class="fa fa-ban"  data-placement="bottom"></i></span></span>' + '</a></div>' +
           '<div class="col-md-1 col-sm-3 col-xs-3"><a href=""><span style="color:grey"><i class="glyphicon glyphicon-download-alt" data-placement="bottom"></i></span></span></a></div>' +
           ' <div class="col-md-1" style="width:0%; padding-left:10px;">' +
           '<div class="d-bar"></div>' +
           '</div>' +
          '</div>');
        $("#Class").prepend("<option value='0'>All</option>");
    }

    function DrawTable1() {
        $('#example_filter').addClass("form-group");
        $('#example_filter').addClass("has-feedback");
        $('#example_length').addClass("col-lg-9 col-md-8 col-sm-12 col-xs-12");
        //$('#example_filter').addClass("col-lg-4 col-md-4 col-sm-12 col-xs-12");
        $('#example_wrapper').css("text-align", "left");
        $('#example_length').css("text-align", "left");
        $('#example_length label').addClass("col-md-3 col-sm-12 col-lg-2");
        $("#example_length label").css("text-align", "left");
        $('#example_length label').addClass("col-md-2 col-lg-2 col-sm-12");
        // // $('#example_length label select').addClass("col-md-3 col-sm-8 col-lg-3"); : auto;
        $('#example_filter input').css({ "border": "1px solid #ddd", "border-radius": "40px", "height": "30px", "margin-top": "-5px", "outline": "none", "padding-left": "10px", "color": "#000000 !important" });
        //$('#example_length').css({ "overflow": "auto" });
        $('#example_filter input').addClass("add");
        $('#example_filter').append('<span class="glyphicon glyphicon-search form-control-feedback" style="margin-top: -33px; color: #666;"></span>');
        var list = $("#ClassID").html();
        $('#example_length').append(

            '<div class="col-md-1" style="width:0%; padding-left:1px;">' +
             '<div class="d-bar"></div>' +
            '</div>'
              +

           '<div class="col-md-4 col-lg-4" style="padding-left=0px">' +
           '<div class="col-md-1 col-sm-3 col-xs-3" style="padding-left:0px"><a href=""><i class="glyphicon glyphicon-repeat" data-toggle="tooltip" title="Refresh" data-placement="bottom"></i></a></div>' +
           '<div class="col-md-1 col-sm-3 col-xs-3"><span class="default"><i class="glyphicon glyphicon-edit" data-placement="bottom"></i></a></div>' +
           '<div class="col-md-1 col-sm-3 col-xs-3"><span class="default"><i class="fa fa-ban"  data-placement="bottom"></i></span>' + '</a></div>' +
           '<div class="col-md-1 col-sm-3 col-xs-3"><span class="default"><i class="glyphicon glyphicon-download-alt" data-placement="bottom"></i></span></a></div>' +
           ' <div class="col-md-1" style="width:0%; padding-left:10px;">' +
           '<div class="d-bar"></div>' +
           '</div>' +
          '</div>');
        $("#Class").prepend("<option value='0'>All</option>");
    }


</script>


@if (User.IsInRole("Admin"))
{
    <script>
        $(document).ready(function () {
            DrawTable();
        })
    </script>
}
else
{
    <script>
        $(document).ready(function () {
            DrawTable1();
        })
    </script>
}


@*<style>
    span{
        color:gray;
    }*@
</style>


@if (ViewBag.Error != null)
{
    <div class="box-alert" id="work">
        @ViewBag.Error
    </div>
}
<div class="card">
    <div class="card-body p-4">

        <div class="box box-primary">
            <div class="box-title"></div>

            <div class="box-body">

                <div class="table-responsive">
                    <table class="table hover table-bordered table-striped" id="datatable">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                    </th>
                                <th>
                               Username
                                </th>
                                <th>
                                   Password
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>

                                    

                                    <td>
                                        @Html.DisplayFor(modelItem => item.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StudentUserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StudentPassword)
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    div#datatable_filter {
        display: block !important;
    }
    </style>