
@{
    ViewBag.Title = "Create";

    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<style>
    .page-sidebar .page-sidebar-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 1200px !important;
    }

    .form-horizontal {
        background-color: #fff;
        /* margin: 10px; */
        margin-left: 5px;
    }

    textarea {
        width: 557px;
        height: 126px;
    }
</style>
<script>

    $(document).ready(function () {


        $("#PageHeader").html("Profile");

        $("#BreadCrumbs").append(' <li> <a href="/Account/Dashboard"> Home </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li class="active"><a id="BreadCrumps1" href="#">Profile</a></li>');



        $("#btnCancel").click(function () {

            window.location.href = "/AspnetSubjectTopics/ViewTopicsAndLessons";
        })




        var course = 'CSS';
        var Class;
        $('#CTId').change(function () {


            var crse = $(this).val();

            if (crse != "") {

                console.log(crse);
                course = crse;
                $.ajax({
                    type: "POST",
                    cache: false,
                    url: "/AspNetProject/GetSubjectsByClass?CT=" + course,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        var sch = JSON.parse(data);
                        console.log(sch);
                        var $el = $(".SubIdDDL");
                        $el.empty();
                        if (sch.length > 0) {
                            $el.append($("<option></option>")
                                .attr("value", "").text('Select Subject'));
                            for (i = 0; i < sch.length; i++) {

                                $el.append($("<option></option>")
                                    .attr("value", sch[i].Id).text(sch[i].SubjectName));
                            }
                        }
                        else {
                            $el.append($("<option></option>")
                                .attr("value", '').text('Select'));
                        }
                    }
                });

            }
            else {
                var $el = $(".SubIdDDL");
                $el.empty();
            }

        });


        $('#ClassID').change(function () {

            var UserName = $(this).val();
            Class = UserName;
            $.ajax({
                type: "POST",
                cache: false,
                url: "/AspNetProject/GetSubjectsByClass?ClassID=" + UserName + "&&CT=" + course,
                processData: false,
                contentType: false,
                success: function (data) {
                    var sch = JSON.parse(data);
                    console.log(sch);
                    var $el = $(".SubIdDDL");
                    $el.empty();
                    if (sch.length > 0) {
                        $el.append($("<option></option>")
                            .attr("value", "").text('Select Subject'));
                        for (i = 0; i < sch.length; i++) {

                            $el.append($("<option></option>")
                                .attr("value", sch[i].Id).text(sch[i].SubjectName));
                        }
                    }
                    else {
                        $el.append($("<option></option>")
                            .attr("value", '').text('Select'));
                    }
                }
            });

        });
    })


</script>



<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-5">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-8 pl-5 pr-5 ">
                        <h2 class="column-heading mb-4"> Change Password</h2>
                        <div class="form-group bmd-form-group is-filled">
                          
                        </div>
                        <div class="form-group bmd-form-group is-filled">
                           
                        </div>



                        <div class="form-group bmd-form-group my-3">
                            <label class="bmd-label-floating">Old Password *</label>
                            <input type="text" class="form-control round-border" id="OldPassword" name="OldPassword">
                        </div>


                        <div class="form-group bmd-form-group my-3">
                            <label class="bmd-label-floating">New Password *</label>
                            <input type="text" class="form-control round-border" id="OldPassword" name="OldPassword">
                        </div>

                        <div class="form-group bmd-form-group my-3">
                            <label class="bmd-label-floating">Confirm Password *</label>
                            <input type="text" class="form-control round-border" id="OldPassword" name="OldPassword">
                        </div>

                     

                    </div> <!-- End Column -->


                    <div class="col-md-8 pl-5 pr-5 ">
                        <button type="submit" class="btn btn-primary rounded rounded-lg"> Save </button>


                        <button type="button" id="btnCancel" class="btn btn-primary rounded rounded-lg bg-transparent text-muted shadow-none mr-3">
                            <i class="material-icons mr-2">cached</i>  Cancel
                        </button>

                    </div>
                }

            </div>
        </div>
    </div>
</div>